# Uneeded File Types (project files)

*.sdf
*.sln
*.uproject
*.suo
*.log

# Exclude parts of the directory hierarchy that contain foundation/shared item
# Please keep an eye out if you find yourself changing these items

Binaries/
DerivedDataCache/
Intermediate/
Saved/