*.sdf
*.sln
*.uproject
*.suo

# Exclude parts of the directory hierarchy that contain foundation/shared item
# Please keep an eye out if you find yourself changing these items

Azuruk/Binaries/
Azuruk/DerivedDataCache/
Azuruk/Intermediate/
Azuruk/Saved/